/* @import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Cantata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --base: #00275C;
  --secondary: #EAEEF3;
  --invert: #ffffff;
  --accent: #FFC809;
  --highlight: #0C3268;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--base);
}

.cantata {
  font-family: var(--font-cantata-one), serif;
}

.afacad {
  font-family: var(--font-afacad), sans-serif;
}

.poppins {
  font-family: var(--font-poppins), sans-serif;
}

.text-base {
  color: var(--base);
}

.bg-base {
  background-color: var(--base);
}

.hover-text-base:hover {
  color: var(--base);
}

.hover-bg-base:hover {
  background-color: var(--base);
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.hover-text-accent:hover {
  color: var(--accent);
}

.hover-bg-accent:hover {
  background-color: var(--accent);
}

.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.hover-text-secondary:hover {
  color: var(--secondary);
}

.hover-bg-secondary:hover {
  background-color: var(--secondary);
}

.focus-bg-secondary:focus, .focus-bg-secondary:active {
  background-color: var(--secondary);
}

.text-invert {
  color: var(--invert);
}

.bg-invert {
  background-color: var(--invert);
}

.hover-text-invert:hover {
  color: var(--invert);
}

.hover-bg-invert:hover {
  background-color: var(--invert);
}

.text-highlight {
  color: var(--highlight);
}

.bg-highlight {
  background-color: var(--highlight);
}

.hover-text-highlight:hover {
  color: var(--highlight);
}

.hover-bg-highlight:hover {
  background-color: var(--highlight);
}